<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Register</title>
</head>

<body>

    <nav>
        <button class="title"><h1>TaskDone</h1></button>
        <form action="/login"><button type="submit" class="login-btn-navbar">Login</button></form>
    </nav>

    <br>

    <div class="root-container">
        <form action="/add-usr" method="post" class="main-frame">
            <h5 class="login-tag">Register</h5>
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="email" name="email" id="email" placeholder="E-mail">
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit">Register</button>
        </form>
    </div>

</body>

</html>